.accordion-container {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.accordion-button {
  background-color: #eef4ff;
  border: 0;
  border-radius: 8px;
  inline-size: 348px;
  block-size: 100px;
  padding: 24px;
  cursor: pointer;

  .content {
    width: 300px;
    height: 52px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .text {
      width: 261px;
      line-height: 26px;
      text-align: left;
      font-size: 16px;
      font-weight: 700;
    }

    .svg {
      margin-bottom: 28px;
    }
  }

  .in-text {
    display: none;
  }
}

.jsaccordion {
  .accordion-button {
    block-size: 156px;

    .in-text {
      display: block;
      margin-top: 8px;
      text-align: left;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.5px;
    }

    .svg {
      margin-bottom: 28px;
      rotate: 180deg;
    }
  }
}
